html,
body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(229, 57%, 11%);
    background-image: url("/images/bg-desktop.png");
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: bottom;
}
.center-block {
    display: flex;
    align-items: flex-end;
    width: 900px;
}

.center-block > div {
    background-color: hsl(228, 56%, 26%);
    margin: 40px 10px;
    padding: 20px;
}

.left {
    border-radius: 10px 90px 10px 10px;
    width: 400px;
}

.logo {
    margin: 10px 10px 10px 10px;
}

.buttons {
    display: flex;
}
.button {
    border: 0px;
    border-radius: 5px;
    background-color: hsl(229, 57%, 11%);
    margin: 10px;
    padding: 10px;
}

.right {
    border-radius: 10px;
    width: 380px;
    font-size: 14px;
    font-family: Raleway;
}

.text {
    color: hsl(229, 7%, 55%);
}

.data-block {
    float: right;
    position: absolute;
    transform: translate(15px, -80px);
}

.data-block-text {
    padding: 10px 15px;
    border-radius: 15px 15px 0px 15px;
    background-color: aliceblue;
    font-size: 16px;
    font-weight: 400;
}

.data-block-triangle {
    width: 0;
    float: right;
    border-top: 20px solid aliceblue;
    border-left: 20px solid transparent;
}

.data-block-text-data {
    font-size: 30px;
    font-weight: 700;
}

.data {
    color: hsl(243, 100%, 93%);
}

progress[value] {
    height: 14px;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    margin: 10px 5px 0px 2px;
}

progress[value]::-webkit-progress-bar {
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
}

progress[value]::-webkit-progress-value {
    background-image: linear-gradient(
        to right,
        hsl(6, 100%, 80%),
        hsl(335, 100%, 65%)
    );
    border-radius: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: relative;
    left: 78%;
    bottom: 13px;
    background-color: white;
}

.data-start {
    float: left;
}

.data-end {
    float: right;
}

.attribution {
    font-size: 11px;
    white-space: nowrap;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -200%);
    color: aliceblue;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width:950px) {
    .center-block {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .left, .right {
        width: 80%;
    }

    .data-block, .data-block-triangle {
        all: unset;
    }

    .data-block-text {
        width: 40%;
        text-align: center;
        border-radius: 15px 15px 15px 15px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 80%);
    }
  }